/* Any complex looking css coding was from the help of a friend of mine over on Discord. */
body {
    color: white;
    background-color:black;
    font-family: cursive;
    text-align: center;
}
 
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.loading .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid white;
}

.loading .line-box .line {
    height: 20px;
    background: black;
    animation: loading 2s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}