 /* Any seemingly complex css coding was from the help of a friend over on discord who is familiar with css animation*/
body {
  background-color: black;
  text-align: center;
}

* {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.loader {
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  color: white;
}
/* The content here was given to me by my friend saying it'll give me three dots automatically so I was able to work with the flexbox stuff on my own with it. Told me inline-block works similar to flexboxing..? */
.loader::after {
  color: white;
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.50em;
  }
}